[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
psycopg2 = "*"
meetup-api = "*"
celery = "*"
django-celery-beat = "*"
djangorestframework-simplejwt = "*"
python-dotenv = "*"
drf-yasg = "*"
django-cors-headers = "*"
redis = "*"
django-redis = "*"
setuptools = "*"

[dev-packages]

[requires]
python_version = "3.12"
